
Obiesie Amarachi .003/.terraform.lock.hcl
Obiesie Amarachi .003/.terraform/providers/registry.terraform.io/hashicorp/aws/4.16.0/windows_amd64/terraform-provider-aws_v4.16.0_x5.exe
Obiesie Amarachi .003/hello.zip/myFirstFunction-9f152360-ff30-4594-807a-46babe8616c1.zip
Obiesie Amarachi .003/terraform.tfstate
